$white: #fff;
$borderColor:#707070;
$fontColor:#00AEEF;

.header{
    display: flex;
    justify-content: space-between;
    background: $white;
    border-bottom: $borderColor solid 1px;
    height: 75.5px;
    .logo{
        width: 7rem;
        margin-left: 2rem;
    }
    .nav-item{
        display: flex;
        align-items: center;
        .nav-link{
            display: flex;
            align-items: center;
            color: $fontColor;
            font-size: 1.2rem;
            svg{
                width: 2rem;
                margin-right: 10px;
            }
        }
    }
}
@media (max-width: 768px) {
    .header {
        height: auto;
    }
}
